@charset "utf-8";

html { 
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.6)),url("../img/background3.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*-----MEDIA QUERRY-----*/

/*PHONE*/
@media (max-width:600px){
    /*TITLE*/
    .title-container h1{
        font-size: 1.5em;
    }
    .title-container span{
        display: none;
    }
    /*SEARCH*/
    .form-row label{display: none;}
    /*CONTENT*/
    .content-box{
        background-color: white;
        margin: 0;
        padding: 0 20px;
    }

}

/*COMPUTER*/
@media (min-width:600px){
    /*CONTENT*/
    .content-container{
        display: flex;
        margin: 20px 10px 0 10px;
    }
    .content-box{
        background-color: white;
        width: 45%;
        margin: 0 auto;
        padding: 0 20px;
    }
}

/*-----TITLE-----*/

.title-container h1{
    font-family: 'Merienda', cursive;
    color: rgb(195, 141, 24);
}

.title-container span{
    font-family: 'Indie Flower', cursive;
}

.title-container{
    background: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255,255,255,0.7)),url("../img/background\(header\).jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 5px 0 20px 0;
    color: black;
    border-bottom: 2px solid white;
}

.title-row{
    width: fit-content;
    margin: 0 auto;
}

/*-----SEARCH------*/

.search-container{
    margin-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.search-container span{
    font-family: 'Anton', sans-serif;
    font-size: 1.5em;
    color: rgb(204, 204, 204);
    width: fit-content;
}

.form-row form{
    width: fit-content;
    padding: 10px;
}


.form-row button{
    font-weight: bold;
    background-color: rgb(7, 126, 206);
    color: white;
    border: none;
    width: 100px;
    height: 20px;
}

.form-row{
    margin: 0 auto;
}

/*-----IMAGES-----*/

.images-container{
    margin-top: 20px ;
}

/*-----CONTENT-----*/

